<!DOCTYPE html>
<html lang="en">
<div th:fragment="prfilFragment" class="m-auto">
    <form th:action="@{/image/load}" id="image_form" method="post" enctype="multipart/form-data">
        <input id="fileInput" type="file" name="file" style="display: none;"/>
        <img id="profileImages" th:src="@{${profileImages}}" alt="프로필 이미지" class="w-[50px] h-[50px]"/>
        <input type="hidden" name="temp" th:value="${temp}" />
        <input type="text" name="text"/>
        <button type="submit" class="btn btn-primary" th:text="'저장하기'"/>
    </form>
</div>
</html>


