<html layout:decorate="~{layout}">
<div>
    <!-- navbar -->
    <nav layout:fragment="navbarFragment"></nav>
    <!-- table -->

    <div layout:fragment="content" class="flex justify-start h-screen">
        <form th:action="@{/image/load}" id="image_form" method="post" enctype="multipart/form-data">
            <input id="fileInput" type="file" name="file" style="display: none;"/>
            <img id="profileImages" th:src="@{${profileImages}}" alt="프로필 이미지" class="w-[50px] h-[50px]"/>
            <input type="hidden" name="temp" th:value="${temp}" />
            <input type="text" name="text"/>
            <button type="submit" class="btn btn-primary" th:text="'저장하기'"/>
        </form>
        <div class="flex justify-center w-full flex flex-col">
            <table th:replace="~{table :: tableFragment}"></table>
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-[200px] text-center border-r-4 border-black h-full">
            <ul>
                <ul>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{'/question/list/' + ${category.id}}" th:text="${category.categoryName}"
                               th:onclick="'sortByCategory(\'' + ${category.id} + '\')'"></a>
                        </li>
                    </ul>
                </ul>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <div th:authorize="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <!-- 여기에 관리자만 볼 수 있는 HTML 코드를 넣으세요 -->
                        <a th:href="@{/category/create}" class="btn btn-primary">카테고리 등록하기</a>
                    </div>
                </div>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <form th:action="@{/question/list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <!-- 페이징처리 시작 -->

</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
       Array.from(page_elements).forEach(function(element) {
           element.addEventListener('click', function() {
               document.getElementById('page').value = this.dataset.page;
               document.getElementById('searchForm').submit();
           });
       });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
    const profileImages = document.getElementById('profileImages');
    profileImages.addEventListener('click',function(){
         document.getElementById('fileInput').click();
    });
    const fileInput = document.getElementById('fileInput');
    fileInput.addEventListener('change',function(){
        const image_form = document.getElementById('image_form');
        image_form.action = '/image/temp';
        image_form.submit();
    });
    function sortByCategory(categoryId) {
                        window.location.href = '/category/' + categoryId;
                    };

</script>
</html>